body{
  font-family: 'Open-sans', sans-serif;
  font-size: 16px;
  line-height: 1.5em;
  margin:0;
  padding:0;
}

canvas {
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	z-index:-1;
	}

img{
  width:450px;
  height:300px
}

a{
	font-family: 'Open-sans', sans-serif;
	font-size: 18px;
	color: rgb(124, 12, 124);
	font-weight: bold;
}

p{
	margin: 20px;
}

button{
	display:block;
	margin: 10px;
}

h1 {
	color: #333;
	text-align: center;
	background: radial-gradient(circle at bottom center, rgb(121, 251, 255) 15px, rgb(8, 168, 196));
	margin: 5px;
	padding: 20px;

	border-style: dashed;
    border-width: 3px;
    border-color: rgb(253, 121, 121);

}

h1:hover {
    transition: all 5s linear 0;
/* transform: rotate(-10deg); */
	color: tomato;
	background: radial-gradient(yellow, orange);
	background-size: 10px;

}

h2 {
	color: rgb(11, 58, 199);
}

h3 {
	color: darkblue;
}

#main-header{
  border-bottom: 1px solid #56a79a;
}


.top-box {
	display:grid;
	justify-content: center;
	flex-direction: row;
	flex-wrap: wrap;

}

.container {
  margin:auto;
}


#tables {
	display: flex;
	flex-direction: column;
	margin: 10px;
	padding: 20px;
}

#pokemon-image {
	position: absolute;
	left: 1200px;
	top: 400px;
	opacity: 0.5;
	z-index:1;
	pointer-events:none;

}

#pikachu-image {
	width: 200px;
	height: 200px;
	position: absolute;
	left: 1400px;
	top: 100px;
	pointer-events:none;

}

#new-list {
	margin: 20px;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	color: rgb(90, 90, 90);
}

#cryptocurrency-canvas {
	background-color: rgba(252, 252, 252, 0.986);
}

#footer {
	display: flex;
 	flex-direction: row;
 	justify-content: flex-start;
	position:absolute;
	bottom:0;
	width:100%;
	height:60px;   /* Height of the footer */
}

.banner {
	display: block;
	min-height: 200px;
	width: 100%;
	position: relative;
}
.typed_wrap {
	display: block;
	border: 4px solid #49bad6;
	width: 490px;
	height: auto;
	padding: 30px;
	background: rgb(221, 221, 221);
	opacity: 50%;
	
	/*centers it in the .banner*/
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%,-50%);
	-moz-transform: translate(-50%,-50%);
	-ms-transform: translate(-50%,-50%);
	-o-transform: translate(-50%,-50%);
	transform: translate(-50%,-50%);
}

.typed_wrap h2 {
	display: inline;
}

/*Add custom cursor so it auto inherits font styles*/
.typed::after {
	content: '|';
	display: inline;
	-webkit-animation: blink 0.7s infinite;
	-moz-animation: blink 0.7s infinite;
	animation: blink 0.7s infinite;
}

/*Removes cursor that comes with typed.js*/
.typed-cursor{
   opacity: 0;
	display: none;
}
/*Custom cursor animation*/
@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}

button:focus, input:focus {
	outline: none;
  }
  
.warning {
	color: red;
	font-size: 200%; 
}
		
	@supports (display: grid) {
	.warning {
	display: none; } 
	}

		
  li.highlight-box {
		grid-row: span 2;
		grid-column: span 2;
	}
		
	li.highlight-tall {
		grid-row: span 2; 
		grid-column: span 1;
	}
		
	li.highlight-wide {
		grid-column: span 2; }

	li.highlight-giant {
		grid-row: span 3; }
		
	li.highlight-long {
		grid-column: span 3;}
	
	li.highlight-normal {
		grid-row: span 1;
		grid-column: span 1; }

		ul {
			padding: 0; }
			
			li {
			list-style-type: none;
			font-weight: bold;
			font-size: 3.5rem;
			position: relative; }
			
			li:focus {
			border: 10px solid blue; }
			
			span {
			position: absolute;
			top: 20px;
			right: 10px;
			color: #fff;
			text-shadow: 3px 2px 6px rgba(0, 0, 0, 0.4); }
			
			ul {
			/* autoprefixer: off */
			display: grid;
			grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
			grid-auto-rows: 150px;
			grid-auto-flow: dense;
			grid-gap: 1em;
			margin: 1em;
			}

.box {
	background: radial-gradient(circle at right center, #FFC837 15px, #FF8008);
	box-shadow: 0 10px 10px -5px rgba(0, 0, 0, 0.2);  color: #fff;
  border-radius: 5px;
  padding: 20px;
  font-size: 150%;
}

.roze {
	background: radial-gradient(circle at bottom center, rgb(255, 17, 0) 15px, #FF8008);
	box-shadow: 0 10px 10px -5px rgba(0, 0, 0, 0.2);  color: #fff;
  border-radius: 5px;s
  padding: 20px;
  font-size: 150%;
}

.shizu {
	background: radial-gradient(circle at bottom center, rgb(255, 43, 28) 15px, rgb(253, 74, 214));
	box-shadow: 0 10px 10px -5px rgba(0, 0, 0, 0.2);  color: #fff;
  border-radius: 5px;
  padding: 20px;
  font-size: 150%;
}
.quarry {
	background: radial-gradient(circle at top center, rgb(29, 210, 241) 15px, rgb(228, 252, 253));
	box-shadow: 0 10px 10px -5px rgba(0, 0, 0, 0.2);  color: #fff;
  border-radius: 5px;
  padding: 20px;
  font-size: 150%;
}
.roze {
	background: radial-gradient(circle at bottom center, rgb(255, 43, 28) 15px, #FF8008);
	box-shadow: 0 10px 10px -5px rgba(0, 0, 0, 0.2);  color: #fff;
  border-radius: 5px;
  padding: 20px;
  font-size: 150%;
}

.galand {
	background: radial-gradient(circle at bottom center, rgb(6, 196, 6) 15px, rgb(56, 253, 161));
	box-shadow: 0 10px 10px -5px rgba(0, 0, 0, 0.2);  color: #fff;
  border-radius: 5px;
  padding: 20px;
  font-size: 150%;
}