body{
  font-family: 'Open-sans', sans-serif;
  font-size: 16px;
  line-height: 1.5em;
  margin:0;
  padding:0;

}

img{
  width:450px;
  height:300px
}

canvas {
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	z-index:-1;
	}

a{
	font-family: 'Open-sans', sans-serif;
	font-size: 18px;
	color: rgb(124, 12, 124);
	font-weight: bold;
}

h1 {
	color: #333;
	text-align: center;
	background: radial-gradient(circle at bottom center, rgb(121, 251, 255) 15px, rgb(8, 168, 196));
	box-shadow: 0 10px 10px -5px rgba(0, 0, 0, 0.1);  
	margin: 5px;
	padding: 20px;

	border-style: dashed;
    border-width: 3px;
    border-color: rgb(253, 121, 121);

}

h1:hover {
    transition: all 5s linear 0;
/* transform: rotate(-10deg); */
	color: tomato;
	background: radial-gradient(yellow, orange);
	background-size: 10px;

}

h2 {
	color: royalblue;
}

h3 {
	color: darkblue;
}

#main-header{
  border-bottom: 1px solid #56a79a;
}


.top-box {
	display:grid;
	justify-content: center;
	flex-direction: row;
	flex-wrap: wrap;

}

.container {
  margin:auto;
}

#navbar {
	text-align: center;
	background-color: white;
	margin: 5px;
	font-size: 20px;
}
#navbar li{
  display:inline;
  list-style: none;

}

#navbar a{
  text-decoration:none;
  font-weight: bold;
  color: black;
}

#navbar li.current a, #navbar a:hover{
  color: black;
  border-bottom: 3px solid DarkSlateGray;
  padding-bottom:3px;
}

#info {
	margin: 10px;
	padding: 10px;
	border-style: dashed;
	border-color: royalblue;
}



#tables {
	display: flex;
	flex-direction: column;
	margin: 10px;
	padding: 20px;
}

#pokemon-image {
	position: absolute;
	left: 1000px;
	pointer-events:none;
	height: 200px;
	width: 300px;
	opacity: 0.3;
	visibility: hidden;

}

#pikachu-image {
	width: 200px;
	height: 200px;
	position: absolute;
	left: 1400px;
	top: 100px;
	pointer-events:none;
	opacity: 0.1;

}

#nugget-image {
	width: 200px;
	height: 100px;
	position: relative;
	pointer-events:none;
}

ul {
	padding: 0; }
  
  li {
	list-style-type: none;
	font-size: 1.5rem;
	position: relative; 
	padding: 10px 20px;
  }
  
  li:focus {
	border: 10px solid blue; }
  
  span {
	position: absolute;
	top: 20px;
	right: 10px;
	color: #fff;
	text-shadow: 3px 2px 6px rgba(0, 0, 0, 0.4); }
  
  ul {
	/* autoprefixer: off */
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
	grid-auto-rows: 150px;
	grid-auto-flow: dense;
	grid-gap: 1em;
	margin: 1em;
	}
  
  li.highlight-box {
	grid-row: span 2;
	grid-column: span 2; }
  
  li.highlight-tall {
	grid-row: span 2; }
  
  li.highlight-wide {
	grid-column: span 2; }
  
  img {
	display: block;
	-o-object-fit: cover;
	   object-fit: cover;
	height: 100%;
	border: 2px solid black;
	-webkit-box-shadow: px 3px 8px rgba(0, 0, 0, 0.5);
			box-shadow: 1px 3px 8px rgba(0, 0, 0, 0.5); }
  
  .warning {
	color: red;
	font-size: 200%; }
  
  @supports (display: grid) {
	.warning {
	  display: none; } }

	  html {
		font-family: sans-serif; /* 1 */
		-ms-text-size-adjust: 100%; /* 2 */
		-webkit-text-size-adjust: 100%; /* 2 */
	  }

	  html {
		font-family: georgia, serif;
		text-rendering: optimizeLegibility;
		-webkit-font-kerning: normal;
				font-kerning: normal;
		-webkit-text-size-adjust: 100%;
		   -moz-text-size-adjust: 100%;
			-ms-text-size-adjust: 100%;
				text-size-adjust: 100%; }
	  
	  img {
		width: 100%; }
	  
	  .element-invisible {
		position: absolute !important;
		height: 1px;
		width: 1px;
		overflow: hidden;
		clip: rect(1px 1px 1px 1px); }
	  

		#footer {
			position: absolute;
			bottom:0;
			width:100%;
			height:60px;   /* Height of the footer */
			text-align: center;
		}

form {
	margin: 20px;
}