body{
  font-family: 'Open-sans', sans-serif;
  font-size: 16px;
  line-height: 1.5em;
  margin:0;
  padding:0;
}

canvas {
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	z-index:-1;
	}

img{
  width:450px;
  height:300px
}

a{
	font-family: 'Open-sans', sans-serif;
	font-size: 18px;
	color: rgb(124, 12, 124);
	font-weight: bold;
}

p{
	margin: 20px;
}

button{
	display:block;
	margin: 10px;
}

h1 {
	color: #333;
	text-align: center;
	background-color: rgb(43, 214, 236);
	margin: 5px;
	padding: 20px;

	border-style: dashed;
    border-width: 3px;
    border-color: rgb(253, 121, 121);

}

h1:hover {
    transition: all 5s linear 0;
/* transform: rotate(-10deg); */
	color: tomato;
	background: radial-gradient(yellow, orange);
	background-size: 10px;

}

h2 {
	color: rgb(11, 58, 199);
}

h3 {
	color: darkblue;
}

#main-header{
  border-bottom: 1px solid #56a79a;
}


.top-box {
	display:grid;
	justify-content: center;
	flex-direction: row;
	flex-wrap: wrap;

}

.container {
  margin:auto;
}


#tables {
	display: flex;
	flex-direction: column;
	margin: 10px;
	padding: 20px;
}

#pokemon-image {
	position: absolute;
	left: 1200px;
	top: 400px;
	opacity: 0.5;
	z-index:1;
	pointer-events:none;

}

#pikachu-image {
	width: 200px;
	height: 200px;
	position: absolute;
	left: 1400px;
	top: 100px;
	pointer-events:none;

}

#new-list {
	margin: 20px;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	color: rgb(90, 90, 90);
}

#cryptocurrency-canvas {
	background-color: rgba(252, 252, 252, 0.986);
}

#footer {
	display: flex;
 	flex-direction: row;
 	justify-content: flex-start;
	position:absolute;
	bottom:0;
	width:100%;
	height:60px;   /* Height of the footer */
}

.banner {
	display: block;
	min-height: 200px;
	width: 100%;
	position: relative;
}
.typed_wrap {
	display: block;
	border: 4px solid #49bad6;
	width: 490px;
	height: auto;
	padding: 30px;
	background: rgb(221, 221, 221);
	opacity: 50%;
	
	/*centers it in the .banner*/
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%,-50%);
	-moz-transform: translate(-50%,-50%);
	-ms-transform: translate(-50%,-50%);
	-o-transform: translate(-50%,-50%);
	transform: translate(-50%,-50%);
}

.typed_wrap h2 {
	display: inline;
}

/*Add custom cursor so it auto inherits font styles*/
.typed::after {
	content: '|';
	display: inline;
	-webkit-animation: blink 0.7s infinite;
	-moz-animation: blink 0.7s infinite;
	animation: blink 0.7s infinite;
}

/*Removes cursor that comes with typed.js*/
.typed-cursor{
   opacity: 0;
	display: none;
}
/*Custom cursor animation*/
@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
